@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
 
.body-shrink{
    max-width: calc(100vw - 300px);   
    min-width: calc(100vw - 450px);
    width: 60vw;
}
.cont{
    position: fixed;
    top: 0px;
    right: 0px;
    width: fit-content;
    height: 100vh;
    display: flex;
    z-index: 9999;

}

.logobtn{
    all: initial;
    border-radius:  12px 0 0 12px ; 
    /* background-color: #dfeefd; */
    background-color:#F4F8FF;
    height : 4vw;
    width : 4vw;
    max-width: 70px;
    max-height:70px;
    min-width: 50px;
    min-height: 50px;
    border : 0px; 
    z-index:99999;
    margin-top: 205px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logoimg{
    all: initial;
    display: block;
    height: 2vw;
    width: 2vw;
    max-width: 40px;
    max-height: 40px; 
    min-width: 20px;
    min-height: 20px;
    margin: auto auto;
    padding-right: 5px;

}
 .sidepanel{  
    height : 100%;
    width : 0px;
    z-index : 9000000000000000000;
    border : 0px; 

}  